body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 50px;
  }
  
  h1 {
    color: #2c3e50;
  }
  
  p {
    font-size: 1.2rem;
  }
  .slogan {
    background-color: #039bb6;
    color: white;
    font-family: Arial;
    font-size: 2rem;
    padding: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .contact {
    margin-top: 30px;
    font-size: 1rem;
    color: #444444;
    line-height: 2;
    text-align: left;
    width: 60%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact p {
    margin: 12px 0;
    line-height: 1.2;
  }
  .logo-background {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
  }
  
  .logo-background img {
    width: 600px;
  }
  
    
  